<html>
  <head>
    <meta charset="utf8">
    <title>One Game to Rule Them All</title>
    <link rel='stylesheet' type='text/css' href='memory-gui.css'>
  </head>
  <body>
    <!-- <div class="row center-xs">
      <div class="col-xs-6">
        <div class="box" id='memorygame'> -->
          <div id='memorygame'>
          <p>One Game to Rule Them All</p>
          <button type="button" id="myBtn">Shuffle remaining cards</button>
            <p>
            <!-- GAME HERE -->
          </div>
        <!-- </div>
      </div>
    </div> -->



<script type="text/javascript"  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="memory-cards.js"></script>
<script type="text/javascript" src="memory-game.js"></script>
<script type="text/javascript" src="memory-gui.js"></script>
<script type="text/javascript" src="memory-main.js"></script>

  </body>
</html>
